# Configuración Microsoft Entra ID (Azure AD) - RutaExpress
VITE_AZURE_CLIENT_ID=f3136620-804c-4b15-b22d-b6fad957937e
VITE_AZURE_TENANT_ID=bc307149-9a0a-45b8-9f7d-2dfc104f9a09
VITE_AZURE_AUTHORITY=https://login.microsoftonline.com/bc307149-9a0a-45b8-9f7d-2dfc104f9a09
VITE_AZURE_SCOPE=api://f3136620-804c-4b15-b22d-b6fad957937e/access_as_user
VITE_AZURE_REDIRECT_URI=http://localhost:5173

# URL base del Backend For Frontend (BFF)
VITE_BFF_API_BASE_URL=http://localhost:8080
